* {
    margin: 0px;
    padding: 0px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin: 60px 60px 0px 60px;
    height: 150px;
    min-width: 320px;
    max-width: 1920px;
  }
  
  .search-box {
    margin-top: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: end;
    background-color: #012c18;
    width: 600px;
    height: 60px;
    min-width: 250px;
    min-height: 25px;
    align-items: center;
  }
  
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    line-height: 40px;
  }
  
  .lupa {
    margin-right: 20px;
  }
  
  ul {
    width: 300px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-login {
    background-color: #012c18;
    border: none;
    border-radius: 40px;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid transparent;
    cursor: pointer;
    color: white;
  }
  
  .btn-login a {
    text-decoration: none;
    color: white;
  }
  
  .btn-login:hover {
    border: 2px solid #014c00;
    background-color: transparent;
    transition: 0.3s;
    color: #012c18;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #cad2c5;
    height: 100px;
  }
  
  .home img {
    margin-left: 3px;
  }
  
  .home a {
    text-decoration: none;
    color: #012c18;
    
  }
  
  .lugares img {
    margin-left: 8px;
  }
  
  .lugares a {
    text-decoration: none;
    color: #012c18;
  }
  
  .contato {
    padding-bottom: 78px;
  }
  
  .contato img {
    margin-left: 7px;
  }
  
  .contato a {
    text-decoration: none;
    color: #012c18;   
  }
  
  .home:hover {
    border-bottom: 2px solid #012c18;
  }
  
  .lugares:hover {
    border-bottom: 2px solid #012c18;
  }
  
  .contato:hover {
    border-bottom: 2px solid #012c18;
  }

.img-principal img {
  background-color: black;
  position: relative;
}

.img-principal p {
  color: white;
  position: absolute;
  margin-top: 210px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: bold;
}

.bem-vindo p {
  margin: 0px 150px;
  font-size: 30px;
}

.descript {
  margin: 0px 150px;
  text-align: justify;
}

.album-foto {
  display: flex;
  justify-content: space-between;
  margin: 40px 150px 80px;
}

.video {
  height: 400px;
  background-color: #012c18;
  display: flex;
  justify-items: center;
  color: white;
}